<!DOCTYPE html>
<html>
<style>
    h1{ font-size: 40px; font-family: sans-serif; padding: 50 px 50px; }

    p{ font-size: 20px; font-align: center; font-family: sans-serif;
    border: 2px solid #dedede; background-color: #f1f1f1;
    border-radius: 5px; padding: 20px 20px; margin: 20px 0; }

    input[type=text]{ width: 50%; padding: 12px 20px;}
</style>

    <body>

        <h1>
            Anonymous Message Board
        </h1>

        <form method="POST" onsubmit="return val();">
            <input type="text" id="text" name="text" minlength="0" maxlength="128" required/><br><br>
            <input type="submit" name="submit">
        </form>

        <script>
            function val() {
                text = document.getElementById("text").value;
                badwords = [
                    'asshole',
                    'bastard',
                    'bitch',
                    'dick',
                    'dumb',
                    'fuck',
                    'kill',
                    'sex',
                    'stupid'
                    ];

                for(i=0; i<badwords.length; i++) {
                    if(badwords[i] == text) {
                        alert("Please don't post inappropriate language!")
                        return false;
                    }
                }
            }
        </script>

        {% for post in posts%}
        <p>
            {{post.content}}
        </p>
        {% endfor %}

    </body>
</html>
